.todo {
  display: flex;
  align-items: center;
  height: auto;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 0.5rem;

  &_checkbox {
    margin-right: 10px;
    cursor: pointer;
  }
  &_icon_wrapper {
    margin-left: auto;
    width: 76px;
    display: flex;
    justify-content: space-between;
  }
  &_title {
    font-family: "OpenSans";
  }
}

.completed {
  text-decoration: line-through;
}
