.navbar {
  position: fixed;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 15px 25px;
  height: 64px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  &_logo {
    display: flex;
    align-items: center;
  }
  h3 {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
  }
  p {
    margin-top: 2px;
    font-size: 6px;
    font-weight: 700;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
