@import "./components/sidebar/Sidebar.module.scss";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

html {
  font-family: "Open Sans";
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul,
li {
  margin-right: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}

.main-wrapper {
  display: flex;
  position: relative;
}

.main-content {
  width: 100%;
  margin-left: 52px;
  padding: 25px;
}

.form {
  display: flex;
  margin-bottom: 10px;
}

.fetchTodoError {
  text-align: center;
  color: red;
}
